{% extends "Layout/column_map.html" %}

{% block title %} {{ hotspot.getName() }} {% endblock %}
{% block left %}
    <div id="list-places">
        <span class="title">
            List of places

            {% for hotspot in hotspots %}
                {{ include('Hotspot/_hotspot_button.html', { hotspot: hotspot }, with_context = false) }}
            {% endfor %}

        </span>
    </div>
{% endblock %}
{% block right %}
<div id="hotspot-form-column">
    {{ include('Hotspot/_hotspot_thumbnail.html', { hotspot: hotspot }, with_context = false) }}

    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</div>
{% endblock %}

{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="/js/map.js"></script>
<script type="text/javascript">
    /** CONFIGURATION DISKS */
    var disqus_shortname = 'hotspotm'; // required: replace example with your forum shortname

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% endblock %}