{% extends "Layout/column_map.html" %}

{% block title %}Index{% endblock %}
{% block left %}
    <div id="list-places">
        <span class="title">
            List of places

            {% for hotspot in hotspots %}
                {{ include('Hotspot/_hotspot_button.html', { hotspot: hotspot }, with_context = false) }}
            {% endfor %}

        </span>
    </div>
{% endblock %}
{% block right %}
<div id="hotspot-form-column">
    {{ include('Hotspot/_hotspot_form.html', { hotspot: hotspot }, with_context = false) }}
</div>
{% endblock %}

{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="/js/map.js"></script>
{% endblock %}