{% extends "Layout/base.html" %}

{% block content %}

<div class="well fill span3">
      {% block left %}{% endblock %}
</div>
<div id="map" class="well fill span6">
    <div id="center-map">
        <div id="map-canvas"> </div>
        {% block center %}{% endblock %}
    </div>
</div>
<div class="well fill span3">
    {% block right %}{% endblock %}
</div>

{% endblock %}

{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="{{ app.request.basepath }}/js/map.js"></script>
{% endblock %}