<div class="well" id="{{ hotspot.getId() }}">
    <h3>{{ hotspot.getPlace().getName() }}</h3>
    <div>
        <p>{{ hotspot.getPlace().getDescription() }}</p>
    </div>
    <div>
        {% for equipment in hotspot.getEquipments() %}
            <div class="icon-large icon-{{ equipment }}" ></div>
        {% endfor %}
    </div>

    <div>
        <p>Address : {{ hotspot.getAddress() }}</p>

        {% if hotspot.getPrice() != null %}
            <p>Price :   {{ hotspot.getPrice() }}</p>
        {% endif %}

        {% if hotspot.getSchedule() != null %}
            <p>Schedules :   {{ hotspot.getSchedule() }}</p>
        {% endif %}
    </div>
</div>